#timer {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  text-align: right;
}

#map {
  width: 100%;
  height: 100vh;
  background-color: blue;

  .currentStop {
    circle {
      stroke: red;
      stroke-width: 0.5;
      r: 4.2;
      fill: rgba(200,120,120,0.8);
    }
  }

  .prevStops {
    circle {
      fill: green;
      r: 2;
    }
  }

  .path {
    path {
      stroke-width: 0.5;
      stroke: yellow;
      fill: none;
    }
  }

  .simulation {
    svg {
      display: none;

      &.simulatedNode {
        display: inline;
      }
    }

    .me path {
      fill: grey;
      color: grey;
    }
    .heart {
      path {
        fill: purple;
        color: purple;
      }
    }
    .attachment path {
      fill: teal;
      color: teal;
    }
  }

  .strings {
    path {
      stroke: pink;
      stroke-width:1.5;
      fill: none;
      opacity: 0.3;
    }
  }
}
