$land: #21B256;
$land-outline: rgba(50,50,50,0.25);
$ocean: #60E0DC;

#timer {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 345px;
}

#map {
  width: 100%;
  height: 100%;
  background-color: black;

  .country {
    fill: $land;
    stroke-width: 0.15;
    stroke: $land-outline;
  }

  .ocean {
    fill: $ocean;
  }

  .currentStop {
    circle {
      stroke: red;
      stroke-width: 0.5;
      r: 4.2;
      fill: rgba(200,120,120,0.8);
    }
  }

  .prevStops {
    circle {
      fill: green;
      r: 2;
    }
  }

  .path {
    path {
      stroke-width: 0.5;
      stroke: yellow;
      fill: none;
    }
  }

  .simulation {
    svg {
      display: none;

      &.simulatedNode {
        display: inline;
        overflow: visible;
      }

      &.comment {
        display: inline;
        overflow: visible;;
        &> path {
          stroke-width: 15;
          stroke: black;
          fill: white;
        }

        &> svg.attachmentSpecifier {
          display: inline;
        }
      }
    }

    .me > path {
      fill: #555;
      color: #555;
    }
    .heart > path {
      fill: purple;
      color: purple;
    }
    .attachment-places > path {
      fill: darkgrey;
      color: darkgrey;
    }
    .attachment-people > path {
      fill: darkred;
      color: darkred;
    }
    .attachment-animals > path {
      fill: orange;
      color: orange;
    }
  }

  .strings {
    path {
      stroke: pink;
      stroke-width:1.5;
      fill: none;
      opacity: 0.3;
    }
  }
}
